@font-face {
  font-family: "freemono";
  src: url("/assets/fonts/FreeMono.woff") format("woff");
}

body {
  font-size: 1.5em;
  font-family: "freemono";
}

#certificates-title {
  font-size: 2em;
}

#certificates {
  padding-top: 20px;
  display: inline-grid;

  grid-template-columns: auto 2px 500px
}

#certificates>div.cert-number {
  /* color: chocolate; */
  font-weight: bold;
  padding-right: 50px;
}

#certificates>div.cert-number a[href] {
  color: black;
}

#certificates>div.cert-class {
  padding-left: 50px;
  padding-bottom: 1em;
}

#certificates>div.cert-separator {
  background-color: #E69F00;
}

.content {
  display: block;
  /* text-align: center; */

  flex: 1 0 auto;
}

.center-me {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}


a[href] {
  color: black;
}

#misc-bottom {
  display: flex;
  flex-flow: row nowrap;
  /* width: 100%; */

  align-items: center;
  justify-content: center;

  /* font-size: 1.5em; */
  font-family: "freemono";
}

@media (min-width: 600px) {
  #misc-bottom {
    justify-content: space-between;
    display: flex;
    text-align: center;

    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .bottom-left,
  .bottom-right {
    margin-top: 1.5em;
  }
}

@media (max-width: 600px) {
  #misc-bottom {
    justify-content: space-around;
    /* font-size: 1.5em; */
    display: block;
    text-align: center;
  }

  .bottom-left {
    margin-top: 1em;
  }

  .center-me {
    /* font-size: 1.5em; */
  }
}