@font-face {
  font-family: "freemono";
  src: url("/assets/fonts/FreeMono.woff") format("woff");
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;

  font-family: "freemono";
}

.content {
  font-size: 2em;
  text-align: center;
}

#projects-title {
  padding-top: 5%;
  padding-bottom: 5%;
}

a[href] {
  color: black;
}

@media (min-width: 705px) {
  .content {
    display: grid;
    text-align: center;
  }

  #projects {
    display: inline-grid;
    grid-template-columns: 250px 3px 450px;
    column-gap: 2%;

    justify-content: center;
    position: relative;
  }

  #projects-title {
    padding-top: 50px;
    padding-bottom: 50px;

    font-size: 1.5em;
  }

  #projects .project-name {
    border-top: 1px dashed black;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #projects .project-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #projects .project-name:last-child {
    border-bottom: 1px dashed black;
  }

  #projects .cert-divider {
    background-color: chocolate;
  }

  #misc-bottom {
    display: flex;
    justify-content: space-around;

    padding-top: 50px;
    font-size: 1.25em;
  }
}

@media (max-width: 705px) {
  .content {
    display: grid;
    grid-template-rows: fit-content(250px) 0px fit-content(200px);
    grid-template-rows: auto;

    font-size: 2em;
  }

  #projects-title {
    font-size: 1.25em;
    text-align: center;

    padding-top: 20px;
    padding-bottom: 20px;
  }

  #projects>div.project-name {
    /* border-bottom: 2px solid chocolate; */
    padding-top: 10px;
    padding-bottom: 20px;

    padding-left: 5px;
    padding-right: 5px;

    word-wrap: break-word;
  }

  #misc-bottom {
    display: flex;
    justify-content: space-evenly;
  }
}